name: test build

on: 
  push:
    branches: '**'

jobs:
  export:
    permissions: write-all
    runs-on: ubuntu-latest
    name: Monologue export
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install wine
        id: wine_install
        run: |
          sudo apt-get update
          sudo apt install wine64
          echo "WINE_PATH=$(which wine64)" >> $GITHUB_OUTPUT
      
      - name: Export game
        id: export
        uses: firebelley/godot-export@v6.0.0
        with:
          godot_executable_download_url: https://github.com/godotengine/godot-builds/releases/download/4.4.1-stable/Godot_v4.4.1-stable_mono_linux_x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot-builds/releases/download/4.4.1-stable/Godot_v4.4.1-stable_mono_export_templates.tpz
          relative_project_path: ./
          relative_export_path: ./builds/
          wine_path: ${{ steps.wine_install.outputs.WINE_PATH }}
          verbose: true
          export_debug: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ${{ steps.export.outputs.build_directory }}